* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

img {
    width: 100%;
}


.section1 {
    background-color: #0891B3;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 200% 200%;
    background-image: linear-gradient(to bottom right, #0891B3 30%, white 25%);
}

.SectionWrapper {
    width: 90%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.SectionWrapper .ImgCon {
    position: relative;
    height: 90vh;
    width: 100%;
    flex: 6;

}

.SectionWrapper .ImgCon img {
    position: absolute;
    height: 90vh;
    width: 100%;

}

.SectionWrapper .ImgCon span {
    font-size: 35px;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    position: relative;
    top: 80vh;
}

.SectionWrapper .TextCon {
    flex: 6;
    height: 70vh;
    padding: 30px 10px 10px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
}

.TextCon h2 {
    font-size: 5rem;
    font-family: sans-serif;
}

.iconCon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;

}

/* ==================== SECTION ONE END===========   */

.section2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section2Wrapper {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px 0px 20px 0px;

}

.section2Wrapper h2 {
    padding-bottom: 30px;
}

.cardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.cardImg  img{
    height: 40vh;
    width: 100%;
}

.Card {
    width: 100%;
    background-color: white;
    padding-bottom: 50px;
    box-shadow: 5px 12px 20px 4px #666;
    border-radius:8px;
}

.cardhead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.Card p {
    padding: 10px 20px;
}



/* ==================== SECTION TWO END===========   */
.footerCon {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0891B3;
    margin-top: 20px;
    padding: 20px;
}

.FooterWraper {
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 20px 0px 20px 0px;
    color: white;
    gap: 20px;
}

.FooterWraper .textCon {
    padding-top: 20px;
    flex: 6;
}

.FooterWraper .textCon h2 {
    font-size: 2.5rem;
    font-family: sans-serif;
    padding-bottom: 30px;
}

.FooterWraper .textCon p {
    padding: 20px 0;
}

.FooterWraper .textCon .iconCon {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
    margin: 10px 0;
}

.imgCon {
    flex: 6;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.imgCon img {
    width: 80%;
}

svg {
    width: 30px;
    color: #666;
}

a {
    text-decoration: none;
    color: white;
}

@media(max-width:768px){

.SectionWrapper{
flex-direction: column;
height:fit-content;}

.section1{
height: fit-content;
}